.hero {
  padding: 4rem 3rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero__heading {
  font-size: 2rem;
  font-weight: 800;
  color: #101820;
  line-height: 1.5;
}

.hero__heading--accent {
  color: #0000AA;
}

.hero__image{
  display: block;
  width: 57rem;
  height: 33rem;
}

.media-placeholder {
  display: block;
  margin: 2rem auto;
  max-width: 900px;
  width: calc(100% - 4rem);
  aspect-ratio: 16 / 9;
  background-color: #0000AA;
}

.about-blurb {
  max-width: 900px;
  width: calc(150% - 4rem);
  margin: 0 auto;
  padding: 1rem 0 4rem;
}

.about-blurb__text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #101820;
  line-height: 1.5;
}

.about-blurb__text--accent {
  color: #0000AA;
}

/* tablet */
@media (max-width: 768px) {
  .hero { padding: 2.5rem 1.5rem 1.5rem; }
  .hero__heading { font-size: 1.5rem; }
  .media-placeholder { width: calc(100% - 3rem); }
  .about-blurb { width: calc(100% - 3rem); padding: 1rem 0 3rem; }
  .about-blurb__text { font-size: 1.5rem; }
}

/* mobile */
@media (max-width: 480px) {
  .hero { padding: 2rem 1rem 1rem; }
  .hero__heading { font-size: 1.5rem; text-align: left; }
  .media-placeholder { width: calc(100% - 2rem); }
  .about-blurb { width: calc(100% - 2rem); padding: 1rem 0 2.5rem; }
  .about-blurb__text { font-size: 1rem; }
}